@import "~bootstrap/scss/bootstrap";
@import "./bemit-framework";

.full-height,
html {
  height: 100%;
}

.App {
  .sidebar {
    background-color: theme-color("primary");
    color: color("white");
  }
  .c-header {
    &-title {
      line-height: 1em;
    }
    img {
      width: 32px;
      height: 32px;
    }
    color: white;
    a {
      color: white;
    }
    &-background {
      background-color: theme-color("primary");
    }
  }
}

.c-draggable {
  &-list {
    background: #efefef;
    padding: 5px;
    border-radius: 20px;
    margin-bottom: 10px;
    &-header {
      padding: 10px;
    }
    &-filter {
      display: flex;
      position: relative;
      justify-content: space-between;
      align-items: center;
      input,
      select {
        margin-left: 10px;
      }
      &-clear {
        position: absolute;
        right: 20px;
        top: 8px;
        color: white;
        background-color: #555;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1em;
        font-size: 10px;
        cursor: pointer;
      }
    }
    &-items {
      min-height: 40px;
    }
  }
  &-image {
    width: 32px;
    height: auto;
    touch-action: none;
  }
  margin: 5px;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  border: none;
  display: inline-block;
}
.c-filedropzone {
  background-color: #eee;
  border-radius: 10px;
  padding: 20px;
  &-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 4px dashed #aaa;
  }
}

.drop-zone {
  background-color: red;
  height: 100%;
}
.c {
  &-link-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-self: flex-end;

    .btn.is-active {
      background-color: #aaf;
    }
  }
  &-clients {
    &__single {
      a {
        color: white;
      }
    }
  }
}
