@import "~bootstrap/scss/bootstrap";
@import "./bemit-framework";

.full-height,
html {
  height: 100%;
}

.App {
  .sidebar {
    background-color: theme-color("primary");
    color: color("white");
  }
}

.c-draggable {
  &-list {
    background: #efefef;
    padding: 5px;
    border-radius: 20px;
    margin-bottom: 10px;
    &-items {
      min-height: 40px;
    }
  }
  &-image {
    width: 32px;
    height: auto;
  }
  margin: 5px;
  margin: 10px;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  border: none;
  display: inline-block;
}

.drop-zone {
  background-color: red;
  height: 100%;
}
.c {
  &-link-list {
    list-style: none;
    padding: 0;
    li {
      a {
        display: block;
        color: white;
        padding: 5px;
        &.is-active {
          border: 1px dotted white;
        }
      }
    }
  }
  &-clients {
    &__single {
      a {
        color: white;
      }
    }
  }
}
